<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h2>&nbsp;</h2>
    <p style="font-size: 1em; text-align: right;">
        <a href="/auth/login/">Login</a>
        |
        <a href="/auth/logout/">Logout</a>
    </p>
    <p style="font-size: 1em; text-align: right;">
        <a href="/rent-store/profile/">Profile</a>
    </p>
    <h2>Welcome To Deus Video Club API!</h2>
    <p></p>
    <p style="font-size: 1.2em; text-align: center;">
        <a href="/rent-store/categories/">Browse categories</a>
    </p>
    <p style="font-size: 1.2em; text-align: center;">
        <a href="/rent-store/movies/">Browse movies</a>
    </p>
    <p style="font-size: 1.2em; text-align: center;">
        <a href="/rent-store/rentals/?only-active">My rentals</a>
    </p>
</head>
<body>

</body>
</html>
